@import "./../../../style-parms";

@mixin after {
  content: "";
  border-radius: .5rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.favorite-city-container {
  position: relative;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
  border-radius: .5rem;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.day {
    background-color: $day-favorite-box-background;
    box-shadow: 0 .1rem .2rem $day-favorite-box-shadow;

    &::after {
      @include after;
      box-shadow: 0 .1rem .2rem $day-favorite-box-shadow-after;
    }
  }

  &.night {
    background-color: $night-favorite-box-background;
    box-shadow: 0 .1rem .2rem $night-favorite-box-shadow;

    &::after {
      @include after;
      box-shadow: 0 .1rem .2rem $night-favorite-box-shadow-after;
    }
  }

  &:active {
    background-color: cornflowerblue;
  }


  &:hover {
    transform: scale(1.1, 1.1);
  }

  &:hover::after {
    opacity: 1;
  }

  .city-name {
    font-size: 1.6rem;
    font-weight: bold;
    padding: .6rem 0;
    z-index: 2;
  }

  .current-temp {
    font-size: 2.5rem;
    z-index: 2;
    position: absolute;
    bottom: 6.4rem;
    opacity: 0.6;
  }

  .weather-icon {
    position: relative;
    bottom: 2.3rem;
    width: fit-content;
    height: fit-content;
  }

  .description {
    position: relative;
    font-size: 1.4rem;
    bottom: 3rem;
    z-index: 2;
  }

  .buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 13rem;
    justify-content: space-evenly;
    margin: .5rem 0;
    bottom: 3.5rem;
    z-index: 2;
  }
}
