


$day-header-color: #0c5398;
$day-shadow-color: #093f73;
$day-body-color: #cfe1f552;
$day-text-color: rgb(44, 150, 44);
$day-border-color: black;
$day-favorite-box-shadow: rgba(0, 0, 0, 0.1);
$day-favorite-box-shadow-after: rgba(0, 0, 0, 0.3);
$day-favorite-box-background: #fff;
$day-favorite-box-active: rgb(134, 156, 194);


$night-header-color: #093057;
$night-shadow-color: #052441;
$night-body-color: #323d4960;
$night-text-color: rgb(230, 247, 230);
$night-border-color: white;
$night-favorite-box-shadow: rgba(207, 207, 207, 0.1);
$night-favorite-box-shadow-after: rgba(207, 207, 207, 0.3);
$night-favorite-box-background: rgb(27, 26, 26);
$night-favorite-box-active: rgb(123, 125, 129);

